<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.surovtsev.cool_3d_minesweeper">

    <application
        android:name=".controllers.application_controller.ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_coll_3d_minesweeper"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_coll_3d_minesweeper_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cool_3d_minesweeper">
        <activity android:name=".views.activities.RankingActivity"></activity>
        <activity android:name=".views.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.activities.GameActivity" />
        <activity android:name=".views.activities.SettingsActivity" />
    </application>

</manifest>